

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background: #444140;

}

.boldText {
  font-weight: bold;
  margin-right: 3px;
}

.whiteText {
  color: #fff;
}

.bodyDiv {
  margin-top:25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spaceBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  height: 100px;
  width: calc(100vw-.8em);
  background: #1E1E24;
  color: #fff;
  font-size: 24px;
}

.home {
  margin-left: 1em;
}

.header h3 {
  border: solid 2px #E54B4B;
  height: 1.2em;
  border-radius: 10px;
  padding: .2em;
}

.postAboutHeader {
  width: 9em;
  margin-right: 1.2em;
}

.mainDiv {
  min-height: 100vh;
  background: #1E1E24;
  width: 95vw;
  border: 5px solid #E54B4B;
  border-radius: 20px;
  margin-bottom: 4em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navBar {
  background: none;
  height: 20%;
  width: 90%;
  display: flex;
  border-radius: 10px;
  justify-content: space-between;
  margin-bottom: 30px;
  margin-top: 25px;
}

.selector {
  background: #fff;
  height: 80%;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  border-radius: 5px;
  margin-top: 10px;
  color: #E54B4B;
}

.imageAndCaption {
  width: 90%;
  /* background: green; */
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.imageToDisplay {
  height: 670px;
  width: 1000px;
  border-radius: 20px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonsAndCaption {
  /* background: aqua; */
  height: 100%;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.captionButtons {
  height: 50px;
  width: 10em;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #444140;
  color: #fff;
  border-radius: 25px;
  border-color: #E54B4B;
  border-width: 4px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  outline: none;
  margin-bottom: 20px;
  margin-top: 10px;
}

.captionButtons:hover {
  background: #1E1E24;
  color: #fff;
}

.textAreaAndPostButton {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.captionText {
  height: 80%;
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
}

#textArea {
  margin-bottom: 20px;
}

.messages {
  min-height: 40vh
}

.messageDiv {
  margin-top: 6em;
  margin-bottom: 3em;
  height: 20em;
  width: 80%;
  background: #444140;
  border: solid #E54B4B 5px;
  border-radius: 15px;
  display: flex; 
  align-items: center;
  justify-content: space-between;
}

.fakeImage {
  margin-left: 20px;
  height: 300px;
  width: 533px;
  background: #fff;
  border-radius: 10px;
}
.captionAndIdComments {
  height: 300px;
  width: 40%;
  background: #444140;
  border-radius: 10px;
}
.captionAndId {
  height: 21%;
  width: 100%;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
}

.captionText {
  margin-left: 10px;
  width: 40%;
}

.idText {
  margin-right: 10px;
}

.utilityIcons {
  height: 300px;
  display: flex;
  flex-direction: column;
  margin-right: 15px;
}

.trashIcon {
  color: #fff;
}

.editIcon {
  color: #fff;
  margin-top: 5px;
}

.grow:hover {
  transition: all .2 linear;
  color: #E54B4B;
}

.trashIcon:hover {
  transition: all .2s ease-in-out;
  transform: scale(1.5);
}

.editIcon:hover {
  transition: all .2s ease-in-out;
  transform: scale(1.5);
}

.submitButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #444140;
  color: #fff;
  border-radius: 25px;
  border-color: #E54B4B;
  border-width: 3px;
  font-family: 'Roboto', sans-serif;
  outline: none;
  margin-left: 5.4em;
  margin-top: 5px;
}

.genMainDiv {
  height: 110vh;
  background: #1E1E24;
  width: 95vw;
  border: 5px solid #E54B4B;
  border-radius: 20px;
  margin-bottom: 4em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#shrink {
  animation: shrink 2s linear;
  animation-direction: alternate-reverse;
}

@keyframes shrink {
  0% {
    height:110vh;
  }
  100% {
    height: 0vh;
  }
}