

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background: #444140;

}

.bodyDiv {
  margin-top:25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spaceBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  height: 100px;
  width: calc(100vw-.8em);
  background: #1E1E24;
  color: #fff;
  font-size: 24px;
}

.home {
  margin-left: 1em;
}

.header h3 {
  border: solid 2px #999;
  height: 1.2em;
  border-radius: 10px;
  padding: .2em;
}

.postAboutHeader {
  width: 9em;
  margin-right: 1.2em;
}

.mainDiv {
  min-height: 100vh;
  background: #1E1E24;
  width: 95vw;
  border: 5px solid #E54B4B;
  border-radius: 20px;
  margin-bottom: 4em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navBar {
  height: 100px;
  width: 20%;
  background: #fff;
  color: #E54B4B;
}

.imageToDisplay {
  height: 670px;
  width: 1000px;
  border-radius: 20px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navBar{
  background: #fff;
  height: 100px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  border-radius: 5px;
  margin-top: 10px;
}